:root {
    --primary: #0d6efd;
    --dark: #254285;
    --light: #f8fafc;
    --text: #334155;
    --muted: #64748b;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
.main-header {
    position: sticky;
    top: 0;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 14px 8%;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
    transition: ease 0.3s all;
    background: transparent;
}
.main-header.scrolled {
    padding: 10px 8%;
    background: #f9f9f9;
}
.logo-area {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    padding: 14px 8%;
}
.logo-area img {
    height: 42px;
    color: #2d7ff9;
}
.brand {
    font-weight: 700;
    font-size: 18px;
    color: #432ecd;
}
.navigation a {
    margin-left: 25px;
    text-decoration: none;
    font-weight: 500;
    color: #b5aeae;
    position: relative;
}

.navigation a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 0;
    height: 2px;
    background: #2d7ff9;
    transition: width 0.3s ease;
}

.navigation a:hover::after,
.navigation a.active::after {
    width: 100%;
}
.login-btn {
    background: #2d7ff9;
    color: #fff !important;
    padding: 8px 16px;
    border-radius: 6px;
}

.login-btn:hover {
    background: #1f5fd1;
}
.hero {
    padding: 120px 20px;
    text-align: center;
    background: linear-gradient(to bottom, #0f172a, #020617);
    color: white;
}

.hero h1 {
    font-size: 54px;
    max-width: 900px;
    margin: auto;
}

.tagline {
    margin: 25px auto 40px;
    max-width: 700px;
    font-size: 20px;
    color: #cbd5f5;
}

.hero-buttons button {
    padding: 12px 36px;
    margin: 0 10px;
    border-radius: 30px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}
.outline {
    background: blue;
    border: 1px solid blue;
    color: white;
}
.hero-buttons button:first-child {
    background: var(--primary);
    color: white;
}

.hero-buttons .outline {
    background: transparent;
    border: 1px solid white;
    color: white;
}
.section {
    padding: 90px 20px;
}
.section.alt {
    background: var(--light);
}
.container {
    max-width: 1100px;
    margin: auto;
}
.section h2 {
    font-size: 38px;
    margin-bottom: 30px;
    color: #0a28ac;
}
.section-text {
    max-width: 800px;
    margin-bottom: 20px;
    font-size: 18px;
}
.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    gap: 30px;
}
.card {
    padding: 30px;
    border-radius: 14px;
    background: rgb(64, 143, 221);
    box-shadow: 0 10px 30px rgba(0,0,0,0.06);
}
.card h3 {
    margin-bottom: 10px;
}
.stats {
    display: flex;
    gap: 50px;
    margin-top: 30px;
}
.stats span {
    font-size: 40px;
    font-weight: 700;
    color: var(--primary);
}
.cta {
    padding: 90px 20px;
    background: var(--primary);
    color: white;
    text-align: center;
}
.cta button {
    margin-top: 25px;
    padding: 14px 36px;
    border-radius: 30px;
    border: none;
    font-size: 16px;
    background: white;
    color: var(--primary);
    cursor: pointer;
}
.footer {
    padding: 30px;
    text-align: center;
    background: #020617;
    color: #94a3b8;
}
@media (max-width: 768px) {
    .stats {
        flex-direction: column;
        gap: 25px;
    }

    .hero h1 {
        font-size: 40px;
    }
}
p{
    font-size: medium;
}